#routines {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#routines td, #routines th {
  border: 1px solid #ddd;
  padding: 8px;
}

#routines tr:nth-child(even){background-color: #f2f2f2;}

#routines tr:hover {background-color: #ddd;}

#routines th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
